.weather-panel {
	position: relative;
	padding: 10px;
	+ .weather-panel {
		border-top: 1px solid $light-grey;
	}
	> div {
		display: flex;
		justify-content: center;
		align-items: center;	
	}
}
.weather-panel-icon {
	padding: 20px;
	flex: 0 0 15%;
	i {
		font-size: 4em;
	}
}
.weather-panel-info {
	padding: 20px;
	flex: 0 0 75%;
}
.weather-panel__title {
	word-wrap: break-word;
	display: inline-block;
	margin-bottom: 0.1em;
	line-height: 1;
}
.weather-panel__remove {
	&:before {
		content: "×";
		font-size: 1.5em;
	}
	position: absolute;
	right: 10px;
	top: 10px;
	color: $dark-grey;
	align-self: flex-end;
	text-decoration: none;
}