.weather-form__input {
	display: block;
	width: 80%;
	margin: 0 auto;
	border-radius: 0;
	border: none;
	border-bottom: 2px solid #000;
	height: 2em;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	&:focus {
		outline: none;
		border-bottom-color: cadetblue;
	}
}



::-webkit-input-placeholder {
	opacity: 1;
	color: #000;
}
:-moz-placeholder {
	opacity: 1;
	color: #000;
}
::-moz-placeholder {
	opacity: 1;
	color: #000;
}
:-ms-input-placeholder {  
	opacity: 1;
	color: #000;
}