@media screen and (max-width: 900px) {
	.weather-app {
		flex-direction: column;
		height: auto;
	}
	.weather-panels {
		order: 2;
	}
	.weather-panel {
		justify-content: flex-start;
	}
	.weather-form-holder {
		order: 1;
		padding: 40px 0;
		background: #000;
	}
	.weather-form__input {
		background: #000;
		color: $white;
		border-bottom-color: $white;
	}
	::-webkit-input-placeholder {
		opacity: 1;
		color: $white;
	}
	:-moz-placeholder {
		opacity: 1;
		color: $white;
	}
	::-moz-placeholder {
		opacity: 1;
		color: $white;
	}
	:-ms-input-placeholder {  
		opacity: 1;
		color: $white;
	}
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: calc(1em + 1vw);
	}
	.weather-panel-icon {
		i {
			font-size: 3em;
		}
	}
}