@media screen and (max-width: 900px) {
	.weather-app {
		flex-direction: column;
	}
	.weather-panels {
		flex: 1 0 auto;
		justify-content: flex-start;
		order: 2;
	}
	.weather-panel {
		justify-content: flex-start;
	}
	.weather-form-holder {
		order: 1;
		padding-bottom: 10px;
		background: #000;
		flex: 0 0 110px;
	}
	.weather-form__input,
	.geosuggest__input {
		background: #000;
		color: $white;
		border-bottom-color: $white;
	}
	::-webkit-input-placeholder {
		opacity: 1;
		color: $white;
	}
	:-moz-placeholder {
		opacity: 1;
		color: $white;
	}
	::-moz-placeholder {
		opacity: 1;
		color: $white;
	}
	:-ms-input-placeholder {  
		opacity: 1;
		color: $white;
	}
}
@media screen and (max-width: 600px) {
	h1 {
		font-size: calc(1em + 1vw);
	}
	.weather-panel-icon {
		padding-left: 0;
		i {
			font-size: 3em;
		}
	}
	.geosuggest {
		width: 90%;
	}
	.geosuggest__input {
		font-size: 1.9em;
		border-radius: 0;
	}
}